@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $white;
}

h1, h2, h3, h4, h5, h6, p, li, label, input, select {
  color: $grey;
}

input[type="checkbox"], input[type="radio"] {
  accent-color: $teal;
}

.button-group .button {
  margin-left: 2px;
  margin-right: 2px;
}

.button, .button:focus {
  background-color: $teal;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover {
  background-color: $white;
  border-color: $teal;
  color: $teal;
}

.button.alert:hover {
  border-color: #A53B2A;
}

.button.hollow {
  border-color: $teal;
  color: $teal;
}

.button.hollow:hover {
  background-color: $teal;
  border-color: $teal;
  color: $white;
}

.top-bar {
  background-color: $light-green;
  margin-bottom: 5px;
  font-weight: bold;
  .menu {
    background-color: $light-green;
    color: $grey;
  }

  .link {
    color: $white;
  }

  .button:hover {
    background-color: $light-green;
    border-color: $light-green;
    color: $white;
  }
}

.grid-container {
  margin-bottom: 50px;
}

.footer {
  background-color: $light-green;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.callout {
  background-color: $white;
  border-radius: 25px;
}

.callout.primary {
  background-color: $light-cream;
}

.input-field {
  background-color: $white;
  color: $grey;
  border-radius: 25px;
}

.passport-form {
  max-width: 75%;
  display: block;
  margin: auto;
}

.new-recipe-button {
  text-align: right;
  margin: auto;

  .button {
    vertical-align: baseline;
    margin-left: 5px;
  }
}

.close-icon {
  margin-left: 5px;
  vertical-align: middle;
}

.clickable-text:hover {
  cursor: pointer;
}

.recipe-column, .recipe-tile {
  height: fit-content;
}

.recipe-tile {
  box-shadow: 3px 3px 5px $grey;
}

.recipe-tile:hover {
  h3, h5 {
    color: $teal;
  }
  box-shadow: 3px 3px 5px $teal;
}

.teal {
  color: $teal;
}

.pink {
  color: $pink;
}

.yellow {
  color: $yellow;
}

.button-heart:hover, .button-star:hover {
  cursor: pointer;
}
